@model List<AutoParts.Web.Models.ServiceOrderModel>
@using AutoParts.Web.Data.Entities
@using AutoParts.Web.Enums
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Order list";

    User? currentUser = null;

    if (SignInManager.IsSignedIn(User))
    {
        currentUser = await UserManager.GetUserAsync(User);
    }
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="my-auto">Order list</h4>
        <a asp-controller="ServiceOrder" asp-action="Create" class="btn btn-primary my-auto">
            <i class="fas fa-plus"></i> Add new Order
        </a>
    </div>
    <div class="card-body">
        <table class="table table-bordered align-middle text-center">
          <thead class="table-light">
            <tr>
              <th scope="col">Customer</th>
              <th scope="col">Vehicle</th>
              <th scope="col">Mechanic</th>
              <th scope="col">Status</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Details</th>
              @if (currentUser != null && currentUser.Role == UserRole.Admin)
              {
                  <th scope="col">Delete</th>
              }
            </tr>
          </thead>
          <tbody>
            @foreach (var order in Model)
            {
              <tr>
              <td scope="col">@order.Customer!.FirstName @order.Customer!.LastName</td>
              <td scope="col">@order.Vehicle!.Make @order.Vehicle!.ModelName @order.Vehicle!.Year</td>
              <td scope="col">
                  @if (order.MechanicId == null)
                  {
                      <p>---</p>
                  }
                  else
                  {
                    @order.Mechanic!.FirstName @order.Mechanic!.LastName
                  }
              </td>
              <td scope="col">@order.Status</td>
              <td scope="col">@Html.DisplayFor(_ => order.StartDate)</td>
              <td scope="col">
                  @if (order.EndDate == null)
                  {
                      <p>---</p>
                  }
                  else
                  {
                  @Html.DisplayFor(_ => order.EndDate);
                  }
              </td>
              <td scope="col">
                <a asp-action="Details" asp-route-id="@order.Id"
                   class="btn btn-primary" title="Details">
                    Details
                </a>
              </td>
              @if (currentUser != null && currentUser.Role == UserRole.Admin)
              {
              <td scope="col">
                  <form asp-action="Delete" method="post" asp-route-id="@order.Id" >
                      <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
              </td>
              }
              </tr>
            }
          </tbody>
        </table>
    </div>
</div>
