@model AutoParts.Web.Data.Entities.Customer

<div class="card">
    <div class="card-header">
        <h3>Szczegóły klienta</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Imię i nazwisko:</dt>
            <dd class="col-sm-9">
                @Model.Name
                @(string.IsNullOrEmpty(Model.SecondName) ? "" : " " + Model.SecondName)
                @Model.LastName
            </dd>

            <dt class="col-sm-3">Telefon:</dt>
            <dd class="col-sm-9">@Model.PhoneNumber</dd>

            <dt class="col-sm-3">E-mail:</dt>
            <dd class="col-sm-9">@Model.Email</dd>
        </dl>

        <div class="mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
                <i class="fas fa-edit"></i> Edytuj
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Powrót
            </a>
            <h4 class="mt-4">Pojazdy klienta</h4>

            @if (Model.Vehicles.Any())
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Nr rejestracyjny</th>
                            <th>Rok</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vehicle in Model.Vehicles)
                        {
                            <tr>
                                <td>@vehicle.Make</td>
                                <td>@vehicle.Model</td>
                                <td>@vehicle.LicensePlate</td>
                                <td>@vehicle.Year</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-info">Brak zarejestrowanych pojazdów</div>
            }
            <a asp-controller="Vehicles" asp-action="Create"
               asp-route-customerId="@Model.Id"
               class="btn btn-success ml-2">
                <i class="fas fa-car"></i> Dodaj pojazd
            </a>
        </div>
    </div>
</div>
